{% extends 'layout.html.twig' %}
{% block title %} - Formations {% endblock %}
{% block content %}
<section id="contact" class="container">
    <form method="POST">
        <div class="mb-3">
            <label for="firstname" class="form-label">Firstname</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Subject</label>
            <textarea class="form-control" id="message" name="message"></textarea>
        </div>
        {% if errors is not empty %}
        {% for error in errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</section>
{% endblock %}