{% extends 'layout.html.twig' %}
{% block title %} - Login {% endblock %}
{% block content %}
<h1>Register !</h1>
<div class="text-center">
    {% for error in errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username *</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password *</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register !</button>
        </div>
    </form>
    <div class="text-center">
        <a href="/security/register">Don't have an account yes ? Register here !</a>
    </div>
</div>
{% endblock %}